*{
    margin: 0;
    padding: 0;
}
/****************************************<header>****************************************/
header{
    margin-top: 10px;
    width: 100%;
    height: 100px;
    background-color: #ff003b;
}
#span{
    width: 30%;
    float: right;
    background-color: white;
}
#img{
    height: 100px;
    width: 100px;
    border-radius:50%;
    float: right;
}
#span a{
    color:black;
}
#h2Header{
    float: left;
    line-height: 100px;
    padding: 0px 15px;
    font-size: 100%;
}
#nav{
    text-align: center;
    height: 100px;
}
#nav ul{
    margin: 0;
    padding: 0;
    list-style-type:none;

}
#nav li{
    width: 23.33%;
    float: left;
}
#nav a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    line-height: 100px;
    font-weight: bold;
    color: white;
}
#nav a:hover{
    background-color: white;
    color: black;
}
/****************************************</header>****************************************/
/****************************************<main>*******************************************/
main{
    width: 100%;
    height: 450px;
    border-top: 3px solid white;
    background-color: rgb(255, 0, 0);
    animation-name: changeBackground;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes changeBackground{
    0%{
        background-color:rgb(255, 0, 0);
    }
    20%{
        background-color:rgb(98, 0, 255);
    }
    40%{
        background-color:rgb(255, 115, 0);
    }
    60%{
        background-color:rgb(255, 0, 200);
    }
    80%{
        background-color:rgb(0, 255, 213);
    }
    100%{
        background-color:brown;
    }
}
aside{
    width: 30%;
    height: 450px;
    float: left;
    text-align: center;
    background-color:white;
    font-stretch: 100%;
}
aside img{
    width: 95%;
}
aside h1{
    border-bottom:2px solid red;
    padding:20px 0px;
}
#divAside{
    width: 100%;
    justify-content: center;
    margin-top:25px;
}
div img{
    width: 45px;
    padding-bottom: 15px;
}
div img:hover{
    width: 55px;
}
#article1{
    float: right;
    width:70%;
    height: 450px;
    position: relative; 
}
#divArticle{
        text-align: center;
        border-radius: 50px;
        width: 60%;
        height: 180px;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 20px;
        transform: translate(-50%,-50%);
}
#article1 h1{
    border-bottom: 3px solid red;
    padding: 10px 0px;
}
#article1 marquee{
    width: 100%;
    color: white;
    height: 130px;
    line-height: 130px;
    margin-top: 5px;
    font-size: 50px;
    border-radius: 10px;
    -webkit-text-stroke:2px rgb(255, 0, 0);
    animation-name: changeColor2;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes changeColor2{
    0%{
        -webkit-text-stroke:2px rgb(255, 0, 0);

    }
    20%{
        -webkit-text-stroke:2px rgb(98, 0, 255);
    }
    40%{
        -webkit-text-stroke:2px rgb(255, 115, 0);
    }
    60%{
        -webkit-text-stroke:2px rgb(255, 0, 200);
    }
    80%{
        -webkit-text-stroke:2px rgb(0, 255, 213);
    }
    100%{
        -webkit-text-stroke:2px brown;
    }

}
#article2{
    text-align: center;
    clear: both;
}
#article2 img{
    width:28%;
    margin: 10px;
    opacity: 1;
}
#article2 img:hover{
    opacity: 0.5;
}
/****************************************</main>******************************************/
@media only screen and (max-width:1000px){
    #h2Header {
        font-size:15px !important;
    }
}
@media only screen and (max-width:887px){
    #h2Header {
        font-size:12.5px !important;
    }
}
@media only screen and (max-width:800px){
    header{
        height: 304px;
    }
    #span{
        width: 100%;
        text-align: center;
    }
    #span a{
        text-decoration: none;
    }
    #h2Header,#img{
        float:none
    }
    #img {
        height: 200px;
        width: 200px;
    }
    #h2Header{
        font-size: 20px !important;
    }
    ul{
        display: none;
    }
    aside{
        width: 100%;
        height: 100%;
    }
    #article1{
        width: 100%;
        height: 250px;
    }
    main{
        height: auto;
    }
    #divArticle{
        border-radius:50px;
    }
}
@media only screen and (max-width:506px){
    header{
        height: 405.6px;
    }
    #nav{
        width: 100%;
        display: block !important;
        float: left;
    }
    ul{
        display: block;
    }
    #nav li{
        width: 33.33%;
        float: left;
    }
    #article2 img{
        width: 40%;
    }
}
